@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap');

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  :root {

--primary-nutmeg: hsl(14, 45%, 36%);
--primary-dark-raspberry: hsl(332, 51%, 32%);

--neutral-white: hsl(0, 0%, 100%);
--neutral-rose-white: hsl(330, 100%, 98%);
--neutral-eggshell: hsl(30, 54%, 90%);
--neutral-light-grey: hsl(30, 18%, 87%);
--neutral-wenge-brown: hsl(30, 10%, 34%);
--neutral-dark-charcoal: hsl(24, 5%, 18%);
  }

  body {
    width: 1440px;
    height: 1955px;
    background-color: var(--neutral-eggshell);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Outfit;
    color: var(--neutral-wenge-brown);
    font-size: 16px;
  }
  
  main {
    background-color: var(--neutral-white);
    padding: 40px;
    border-radius: 24px;
  }

  main img {
    width: 656px;
    height: 300px;
    margin-bottom: 40px;
    border-radius: 12px;
  }

  .text-holder {
    width: 656px;
  }

  .preparation {
    margin: 32px 0px;
    padding: 28px;
    background-color: var(--neutral-rose-white);
    border-radius: 12px;
  }
  .preparation ul {
    padding-left: 1.7rem;
  }
  .preparation ul li:not(:last-child) {
    margin-bottom: 8px;
  }

  .preparation ul li {
    padding-left: 13px;
  }

  h1, h2 {
    font-family: Young Serif;
  }

  h1 {
    color: var(--neutral-dark-charcoal);
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
  }

  h3 {
    color: var(--primary-dark-raspberry);
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    margin-bottom: 16px;
  }

  h2 {
    line-height: 100%;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 24px;
  }

  .brandy-red {
    color: #854632;
  }

  .ingredients {
    padding-bottom: 31px;
    border-bottom: 1px solid var(--neutral-light-grey);
  }

  .ingredients ul {
    padding-left: 1.9rem;
  }

  .ingredients ul li {
    padding-left: 15px;
  }

  .instructions {
    margin-top: 32px;
    padding-bottom: 31px;
    border-bottom: 1px solid var(--neutral-light-grey);
  }

  .ingredients ul li:not(:last-child) {
    margin-bottom: 8px;
  }

  .nutrition {
    margin-top: 32px;
  }

  .nutrition p {
    margin:24px 0px;
  }

  .parameters {
    display: flex;
    justify-content: center;
  }

  .calories {
    margin-left: 32px;
    flex-grow: 1;
    margin-right: 16px;
  }

  .value {
    margin-right: 32px;
    flex-grow: 1;
  }

  .instructions ol li::marker {
    color: #854632;
    font-weight: 700;
    font-size: 16px;
  }

  .instructions ol {
    padding-left: 1.6rem;
  }
  
  .instructions li {
    padding-left: 15px;
  }

  .instructions ol li:not(:last-child) {
    margin-bottom: 8px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  table tr td {
    padding-bottom: 11px;
    padding-top: 12px;
  }

  table tr:first-child td {
    padding-top: 0px;
  }
  
  table tr td:first-child {
    padding-left: 32px;
    width: 50%;
  }

  table tbody tr:not(:last-child) {
    border-bottom: 1px solid #e3ddd7;
  }

  table tr td:nth-child(2) {
    font-weight: 700;
    color:#854632;
    padding-left: 8px;
    width: 50%;
  }