@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap');

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  :root {

--primary-nutmeg: hsl(14, 45%, 36%);
--primary-dark-raspberry: hsl(332, 51%, 32%);

--neutral-white: hsl(0, 0%, 100%);
--neutral-rose-white: hsl(330, 100%, 98%);
--neutral-eggshell: hsl(30, 54%, 90%);
--neutral-light-grey: hsl(30, 18%, 87%);
--neutral-wenge-brown: hsl(30, 10%, 34%);
--neutral-dark-charcoal: hsl(24, 5%, 18%);
  }

  body {
    width: 1440px;
    height: 1955px;
    background-color: var(--neutral-eggshell);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Outfit;
    color: var(--neutral-wenge-brown);
    font-size: 16px;
  }
  
  main {
    background-color: var(--neutral-white);
    padding: 40px;
    border-radius: 24px;
  }

  main img {
    width: 656px;
    height: 300px;
    margin-bottom: 40px;
    border-radius: 12px;
  }

  .text-holder {
    width: 656px;
  }

  .preparation {
    margin: 32px 0px;
    padding: 28px;
    background-color: var(--neutral-rose-white);
    border-radius: 12px;
  }

  h1, h2 {
    font-family: Young Serif;
  }

  h1 {
    color: var(--neutral-dark-charcoal);
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
  }

  h3 {
    color: var(--primary-dark-raspberry);
  }